.reviews {
  padding: 102px 120px 0 120px;
  text-align: center;
  justify-content: center;
  gap: 90px;
}
h1 {
  color: #0d2d23;
  padding: 100px 120px 0 120px;
  text-align: center;
  font-weight: 300px;
  line-height: 60.48px;
}
p {
  padding: 0 120px;
  text-align: center;
}
.star{
  color : #373636 !important;
  margin-right: 3px;
  padding-left: 3px;
}
/* .carousel-control-prev-icon{
  background-color: ;
}
.carousel-control-next{
  color: #5A7075;
} */
@media (max-width: 991px) {
  .reviews {
    padding: 95px 80px 0 80px;
    text-align: center;
    justify-content: center;
  }
  h1 {
    padding: 80px 95px 0 95px;
  }
}
@media (max-width: 561px) {
  .reviews {
    padding: 70px 50px 0 50px;
    text-align: center;
    justify-content: center;
  }
  h1 {
    padding: 60px 75px 0 75px;
  }
}
@media (max-width: 501px) {
  .reviews {
    padding: 50px 30px 0 30px;
    text-align: center;
    justify-content: center;
  }
  h1 {
    padding: 50px 60px 0 60px;
  }
}
@media (max-width: 375px) {
  .reviews {
    padding: 30px 15px 0 15px;
    text-align: center;
    justify-content: center;
  }
  h1 {
    padding: 30px 40px 0 40px;
  }
}
